body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    background-color: green;
    backgroudn
}


<audio src="https://robertramos07281021.github.io/hosted-assets/Moira%20&%20Jason%20-%20Ikaw%20At%20Ako%20(Lyric%20Video).mp3" controls></audio>